@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
p {
  margin-bottom: 0;
}
.page {
  min-width: 1440px;
  margin: 0 auto;
  transform-origin: top left;
}
@media (min-width: 1440px) {
  .page {
    transform: none !important;
  }
}
body {
  overflow-x: hidden !important;
  height: 100vh;
  background: #f3f8f9;
  cursor: default;
  font-family: "Montserrat", sans-serif;
}
.modal-dialog {
  max-width: 720px !important;
  margin: 240px auto 0;
  box-shadow: 4px 20px 20px 0px #00000040;
}
.modal-title {
  font-size: 15px;
  position: relative;
  top: 5px;
  left: 5px;
}
.modal-content {
  background: #0080c8;
  border: none;
}
.modal-body {
  display: table;
  margin: 0 auto;
}
.modal-body label {
  color: #fff;
  width: 190px;
  font-weight: 700;
  font-size: 11px;
  line-height: 19px;
}
#order_call {
  width: 130px;
  height: 30px;
  line-height: 16px;
  background: #18a0fb;
  border-radius: 6px;
  border: 1px solid #18a0fb;
  color: #fff;
  padding: 0;
  font-size: 13px;
  margin: 0 auto;
  display: table;
  position: relative;
  right: -5px;
  top: 4px;
}
.modal-header {
  border-bottom: none;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  display: block;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0;
}
.modal-backdrop {
  background: none;
}

.modal-backdrop.show {
  opacity: 0.8;
}
.modal-body .form-group {
  margin-bottom: 10px;
  margin-top: -8px;
}
#recall input {
  width: 251px;
  padding: 0 5px;
  height: 25px;
  position: relative;
  right: 9px;
  font-size: 14px;
}
#recall textarea {
  height: 80px;
  width: 251px;
  position: relative;
  right: 9px;
  font-size: 14px;
  resize: none;
}

.modal-dialog {
}
.logo {
  width: 177px;
  position: relative;
  right: 50px;
  bottom: 8px;
}
#cart {
  padding-bottom: 100px;
}
.cart {
}
.cart_h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 45px;
  text-align: left;
  padding-bottom: 16px;
  margin: 54px 0 0 20px;
  color: #0080c8;
}
.cart_content {
  margin: 0 auto;
  max-width: 740px;
}
.cart_contact {
  margin: 35px auto 0;
  max-width: 737px;
}
.cart_h2 {
  font-size: 21px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #0080c8;
  padding-left: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.cart_contact_box {
  background: #fff;
  border-radius: 5px;
  padding: 30px 20px 10px 18px;
}
.cart_contact_box label {
  color: #0080c8;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 0;
  cursor: pointer;
}
.cart_contact_box input {
  background: #f3f8f9 !important;
  border: 1px solid #aec4cd;
  height: 25px;
  margin: 5px 0;
}
.cart_contact_box .form-check {
  padding: 20px 120px 25px 0;
}
.cart_contact_box .form-check input[type="checkbox"] {
  margin: 0 0 0 15px;
  height: 25px;
  width: 25px;
  background: #f3f8f9;
  border: 1px solid #aec4cd;
}
.cart_contact_box textarea {
  height: 65px;
  resize: none;
  border: 1px solid #aec4cd;
  background: #f3f8f9;
  margin: 5px 0;
}
.form-group-delivery {
}
.form-group-delivery label {
  padding-top: 0 !important;
}
.submit {
  margin-left: 50px;
}
.submit button {
  margin-left: 10px;
}
.submit .btn-secondary {
  background: #aec4cd;
  color: #fff;
  border-radius: 8px;
  font-size: 13px;
  border: none;
}
.submit .btn-primary {
  background: #18a0fb;
  color: #fff;
  border-radius: 8px;
  font-size: 13px;
  border: none;
}
.cart_contact_box .form-group {
  margin-bottom: 0;
  margin-top: 4px;
}
.cart .card {
  border: none;
}
.cart .card-body {
  padding: 10px 10px 8px;
}
.cart_img_box {
  box-shadow: 2px 2px 4px 0px #cfdde2;
  width: 50px;
  height: 50px;
  position: relative;
  right: 12px;
  padding: 5px 0;
}
.closer {
  position: relative;
  top: 15px;
}
.cart_img {
  display: table;
  margin: 0 auto;
  height: 40px;
}
.cart_zag {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #0080c8;
  padding-top: 5px;
}
.cart_price {
  padding-top: 20px;
  color: #cfdde2;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}
.cart_forms {
}
.cart_forms input,
.cart_forms input:focus {
  width: 85px;
  height: 25px;
  text-align: center;
  top: 6px;
  position: relative;
  right: 5px;
  background: #f3f8f9;
  color: #0080c8;
  border: none;
  font-weight: 700;
}

.container {
  max-width: 1440px;
}
#top-menu {
  box-shadow: 0 0 25px 5px #ddd;
}
.top_menu_nav {
}
.top_menu {
  padding-top: 10px;
  padding-bottom: 4px;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0) 0%,
    #cfdde2 76.56%
  );
  border-top: 8px solid #0080c9;
}
.top_menu .navbar-nav li {
  margin-top: 5px;
}
.top_menu_nav .nav-link {
  padding-bottom: 0;
}
.sal {
  margin-left: 65px !important;
}
.top_menu_link {
  font-size: 10px;
  color: #3c5063;
  font-weight: 700;
  padding-left: 66px;
}
.spec_top_link {
  font-size: 11px;
  color: #fff;
  height: 25px;
  line-height: 25px;
  background: #8c9fb2;
  font-weight: 700;
  padding: 0 25px !important;
  border-radius: 6px;
  margin-left: 100px;
}
.main_menu .navbar {
  padding: 20px 0 0;
}
.main_menu .navbar-nav {
  padding-top: 20px;
}
.main_menu .navbar-nav .nav-link {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #3c5063;
  text-align: center;
  margin-left: 20px;
  padding: 15px 11px;
  border-radius: 6px;
}
.main_menu .navbar-nav .nav-link:hover,
.active_menu {
  background: #0080c8;
  color: #fff !important;
}
.blur_img_slider {
  opacity: 0.666;
  filter: blur(3px);
}
.main_menu .navbar-nav .nav-link span {
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}
.carts {
  padding-right: 15px;
}
.carts .p_order {
  color: #00457f;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  top: -4px;
  left: 3px;
}
.num_cart {
  height: 46px;
  position: absolute;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  padding: 10px;
  border: 1px solid #00457f;
  width: 46px;
  border-radius: 100%;
  background: #fff;
  color: #00457f;
  z-index: 10;
}
.cart_button {
  width: 129px;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  top: -2px;
  height: 38px;
  color: #fff;
  background: #0080c8;
}
#navbarSupportedContent {
}
.menu_mob,
.tel_mob,
.mail_mob {
  display: none;
}
.link-tel {
  position: relative;
  top: 11px;
  left: -9px;
}
.navbar-brand {
  padding-top: 0;
  margin-right: -25px;
}
.menu_bottom {
  margin-top: 10px;
}
.menu_bottom .row {
  gap: 24px;
}
.budni {
  padding-left: 10px;
  position: relative;
  top: 5px;
  right: 5px;
}
.budni p {
}
.budni_text {
  font-size: 15px;
  font-weight: 400;
}
.budni_text_icon {
}
.budni_text_icon i {
  color: #8c9fb2;
  font-size: 8px;
  position: relative;
  top: -3px;
  left: 2px;
}
.qr {
  overflow: hidden;
}
.qr img {
  position: relative;
  right: 6px;
  top: -3px;
}
.tel {
  position: relative;
  right: 15px;
  bottom: 4px;
}
.callback {
  position: relative;
  right: 4px;
  bottom: 2px;
}
.tel .p_tel {
}
.tel .p_tel a {
  color: #081521;
  font-size: 18px;
  font-weight: 400;
}
.tel .p_tel a:first-child {
  position: relative;
  top: 7px;
}
.tel .p_tel span {
  color: #081521;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  left: -10px;
}
.btn_call {
  border: 1px solid #7197a7;
  border-radius: 6px;
  width: 160px;
  color: #7197a7;
  font-size: 13px;
  font-weight: 500;
  height: 30px;
  line-height: 15px;
}
.search {
  position: relative;
  top: -2px;
  left: 2px;
}
.search .input-group-text {
  background: #fff;
  border: 1px solid #aec4cd;
}
.search i {
  color: #799eae;
}
.search input {
  width: 587px;
  border-radius: 5px;
  border: 1px solid #aec4cd;
  border-left: none;
  padding-left: 0;
  margin-right: 24px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #aec4cd !important;
}
.lk_icon {
  position: relative;
  top: -2px;
}
.lk_icon i {
  font-size: 25px;
  color: #3c5063cc;
}
.lk_icon a {
  margin: 0 8px;
}
.lk_icon a:hover {
  text-decoration: none;
}
.second-swiper {
  margin-top: 20px;
}
.swiper-pagination-bullet {
  margin-top: 15px !important;
  width: 13px;
  height: 13px;
  background: #f3f8f9;
  border: 2px solid #aec4cd;
  margin-right: 25px !important;
}
.swiper-pagination-bullet-active {
  background: #aec4cd !important;
  border: 1px solid #f3f8f9;
}
#main-text {
}
.main_text {
  max-width: 680px;
  margin: 20px auto 40px;
}
#main-text .main_h1 {
}
#main-text .montazh_text .fz15px {
  line-height: 18px !important;
}
.main_h1 {
  font-size: 24px;
  font-weight: 500;
  color: #081521;
  line-height: 30px;
}
.main_text_p {
  font-size: 13px;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 4px;
  color: #081521;
  line-height: 16px;
}
.row_top {
  margin-top: 40px;
}
.main_text_bottom {
  padding: 0;
}
.main_text_bottom .main_text_p {
  padding: 10px 15px 0 0;
}
footer {
}
footer .container {
  padding: 10px 0;
  background: #8c9fb2;
}
.footer_left {
  display: table;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  right: -135px;
  top: 0;
}
.footer_left img {
  float: left;
}
.footer_left p {
  margin-left: 40px;
  padding-top: 15px;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
}
.footer_left p span {
  font-weight: 700;
}
.footer_left_text {
  position: relative;
}
.footer_left_text i {
  position: absolute;
  left: 90px;
  top: 10px;
  color: #fff;
}
.footer_center {
  padding-top: 20px;
  left: 117px;
  bottom: 0;
  position: relative;
}
.footer_center p {
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
}
.footer_center p span {
  font-weight: 700;
  display: block;
}
.footer_right {
  text-align: center;
}
.footer_right p {
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
  color: #fff;
  display: table;
  margin: 0 auto;
  position: relative;
  top: 10px;
  right: 20px;
}
.nav_menu {
  margin-top: 13px;
  z-index: 100;
  display: none;
  width: 355px;
  left: -20px;
  position: absolute;
  background: #fff;
  box-shadow: 20px 0px 40px 0px #aec4cd80;
  padding: 15px 0 0 40px;
  border-radius: 0 0 10px 0;
}
.navbar-mob-menu {
  display: none;
  padding: 20px;
  background: #fff;
  /*max-width: 285px;*/
}
.navbar-mob {
  margin-top: 10px;
  z-index: 100;
  display: none;
  width: 355px;
  right: 0;
  top: 0;
  position: absolute;
  box-shadow: 20px 0px 40px 0px #aec4cd80;
}
.navbar-mob-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.navbar-mob .nav-link {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #3c5063;
  text-align: center;
  padding: 15px 10px;
  border-radius: 6px;
  background: #f3f8f9;
  margin: 2px 0;
}
.active_mob_menu {
  display: block;
}
.navbar-mob .nav-link span {
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}
.navbar-mob-menu a {
  font-weight: 500;
  font-size: 15px;
  color: #081521;
  display: block;
  overflow: hidden;
  padding-bottom: 25px;
}
.navbar-mob-menu a::before {
  content: "";
  width: 67%;
  height: 6px;
  right: 0;
  margin-top: 27px;
  position: absolute;
  background: url("../images/menu/menu_bottom.png");
}
.nav_menu a {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #081521;
  display: block;
  /*overflow: hidden;*/
  padding-bottom: 26px;
}
.nav_menu a:hover {
  text-decoration: none;
}
.nav_menu a::before {
  content: "";
  width: 67%;
  height: 6px;
  right: 0;
  margin-top: 24px;
  position: absolute;
  background: url("../images/menu/menu_bottom.png");
}
.svg1 {
  position: relative;
  top: -4px;
  right: 2px;
}
.nav_menu_names {
  position: relative;
  top: 3px;
}
.nav_menu_icons {
  width: 50px;
  float: left;
  margin-right: 30px;
}
.nav_menu_icons img {
  height: 35px;
  max-width: 45px;
  display: table;
  margin: 0 auto;
}
.cart_mob {
  display: none;
}
.burger {
  display: none;
}

#project {
  padding-top: 20px;
}
.project {
  height: 307px;
  background-image: linear-gradient(
      179.26deg,
      #8c9fb2 0.64%,
      rgba(217, 217, 217, 0) 59.16%
    ),
    url(../images/project.png);
  background-size: cover;
  width: 100%;
}
.project_h2 {
  padding-top: 42px;
  max-width: 700px;
  margin: 0 auto;
  display: table;
  font-size: 39px;
  color: #fff;
}
.fz15px {
  font-size: 15px !important;
  color: #081521;
  line-height: 19px;
}
.fz13px {
  font-size: 13px !important;
  color: #081521;
}
#project-slider {
  padding-top: 38px;
  padding-bottom: 100px;
}
.project_item {
  color: #081521;
}
.project_item > img {
  padding-bottom: 20px;
  border-radius: 0 0 5px 0;
}
.project_item_text {
  height: 370px;
}
.project_item_text_hide {
  margin-top: -10px;
}
.project_item ul {
  list-style-type: "-";
  padding: 0 5px 0 10px;
}
.project_item ul li {
  margin-top: 10px;
  font-size: 13px;
  padding: 0 5px;
}
.project_item p {
  margin-top: 12px;
  font-size: 15px;
  line-height: 17px;
}
.p_700 {
  font-weight: 700;
}
.project_item ol {
  padding: 15px 0 0 25px;
  font-size: 15px;
}
.show_link {
  padding-top: 20px;
  font-size: 11px;
  font-weight: 500;
  display: inline-block;
  color: #0080c8;
}
.show_link:hover {
  text-decoration: none;
}
.show_link span {
  display: block;
}
.project_item_text_blue {
  padding-left: 15px;
  position: relative;
  margin-top: 15px;
}
.project_item_text_blue p {
  margin-top: 1px;
}
.line-verticals {
  position: relative;
  background: orange;
}
.line-verticals::after {
  content: "";
  /* В любом случае необходим, даже пустой. Иначе не будет работать */

  position: absolute;
  left: -17px;
  top: 5px;
  width: 10px;
  height: 150px;
  background-image: url("../images/line-vertical.svg");
  background-repeat: repeat-y;
}
.line-vertical {
  position: absolute;
  left: -2px;
  top: 5px;
}
#montazh-text {
  padding-bottom: 80px;
}
.montazh_text .text_blue {
  line-height: 24px;
  padding-top: 14px;
  padding-left: 6px;
}
#montazh {
  padding-top: 20px;
}
.montazh {
  height: 307px;
  background-image: linear-gradient(
      179.26deg,
      #8c9fb2 0.64%,
      rgba(217, 217, 217, 0) 59.16%
    ),
    url(../images/montazh.png);
  background-size: cover;
  width: 100%;
}
.montazh_h2 {
  padding-top: 27px;
  width: 700px;
  margin: 0 auto;
  display: table;
  font-size: 39px;
  color: #fff;
}
.fz17px {
  font-size: 17px;
  line-height: 19.5px;
}

.montazh_photos {
  overflow: hidden;
}
.montazh_photos img {
  float: left;
  width: 50%;
  padding: 0 6px;
  padding-bottom: 24px;
}
.montazh_item_text ul {
  list-style-type: "\2022";
  padding: 0 5px 0 5px;
}
.montazh_item_text {
  padding: 0 10px;
}
.montazh_item0 {
  position: relative;
  top: -93px;
}
.montazh_item_img0 {
  width: 100% !important;
}
#montazh-text .col-md-3 {
  padding-left: 0;
  padding-right: 0;
}
#rent {
  padding-top: 35px;
  padding-bottom: 80px;
}
.rent {
  max-width: 1000px;
  display: table;
  margin: 0 auto;
}
.rent_h2 {
  font-size: 40px;
  line-height: 45px;
  color: #0080c8;
  font-weight: 500;
  text-align: left;
  padding-bottom: 20px;
  padding-left: 160px;
}
.p_rent_blue_bold {
  font-size: 15px;
  line-height: 18px;
  color: #0080c8;
  font-weight: 700;
}
.rent_item {
}
.rent_item .rent_img {
  display: table;
  margin: 50px auto 0;
}
.p_rent_blue {
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  color: #0080c8;
  margin-top: 50px;
}
.rent_item_center {
  padding-left: 20px;
  border-left: 2px solid #7197a7;
}
.rent_item_center > p {
  padding-bottom: 10px;
}
.pt30 {
  padding-top: 30px;
}
.rent_item_center ul {
  list-style-type: "•";
  padding: 0 5px 0 5px;
}
.rent_item_center ul li {
  margin-top: 10px;
  font-size: 13px;
  padding: 0 5px;
}
.rent_right {
}
.rent_right p {
  padding-top: 20px;
  font-size: 13px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #0080c8;
}
.rent_item .fz13px {
  padding-top: 10px;
}
.rent_item .p_700 {
  padding-top: 10px;
}
#service {
  padding-top: 35px;
  padding-bottom: 100px;
}
.service {
  max-width: 700px;
  display: table;
  margin: 0 auto;
}
.service_h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 45px;
  color: #0080c8;
  padding-bottom: 30px;
  word-spacing: -4px;
}
.service_center {
  margin: 0 -3px;
}
.service_center p.fz15px {
  padding-top: 6px;
}
.text_blue {
  color: #0080c8;
  font-weight: 500;
}
.service_center .text_blue {
  margin-top: 25px;
}
.service_right {
}
.service_right p {
  padding-bottom: 15px;
}
.service_right p:first-child {
  padding-top: 10px;
}
.service_col {
  margin: 0 -6px;
}
.service_col img {
  padding-bottom: 25px;
  position: relative;
  top: 12px;
}
.service_col ol,
.service_col ul {
  padding: 0 0 0 15px;
}
.service_col ol li {
  font-size: 13px;
}
.service_col ul li {
  font-size: 13px;
}
.service_col ol li span {
  display: block;
}
.service_col p {
  padding-top: 4px;
}
.service_col,
.project_item_text_hide p.fz13px {
  padding-top: 0 !important;
}
.service_col,
.project_item_text_hide ul {
  margin-bottom: 5px;
}
.service_col_white {
  background: #fff;
  padding: 20px 10px;
  border-radius: 8px;
  margin-top: 128px;
  height: 650px;
  padding-top: 25px !important;
}
.service_col_white p {
  padding-top: 0 !important;
  padding-bottom: 10px;
}
.service_col_white ul {
  padding: 10px 0 0 20px;
}
.service_col_white ul li {
  color: #0080c8;
}
#cats {
  padding-top: 40px;
}
.cats {
}
.cats_h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 45px;
  color: #0080c8;
  margin-bottom: 10px;
  padding-left: 8px;
  padding-top: 4px;
}
.cats_center {
}
.accord {
  padding: 0 10px;
}
.accord_h2 {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  color: #081521;
}
.accord_p {
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  color: #081521;
}
.accord_item {
  padding-top: 24px;
  cursor: pointer;
}
.vint_h2 {
  /*padding-left: 0!important;*/
}
.main_cats_items {
}
.main_cats_items .row > div {
  padding-left: 0;
}
.main_cats_items .row {
  margin-left: 0 !important;
}
.cats_items {
  margin-top: 40px;
  margin-bottom: 45px;
  border-radius: 0 0 5px 0;
  background: #fff;
  padding: 15px 5px 0 5px;
}
.cats_items h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  color: #0080c8;
  text-transform: uppercase;
}
.cats_items img {
  display: table;
  margin: 20px auto 0;
  height: 170px;
  max-width: 100%;
}
.calc {
  padding: 20px 0px 20px 10px;
  background: #0080c8;
  border-radius: 5px;
  margin: 60px 0 20px;
}
.calc_left {
}
.calc_left p {
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  line-height: 35px;
}
.calc_center {
  position: relative;
  top: -5px;
  right: 18px;
}
.calc_input {
  width: 84px !important;
  border-radius: 3px;
  height: 25px;
  background: #f3f8f9 !important;
  display: inline-block;
  color: #0080c8 !important;
  font-weight: 500;
}
.calc_center label {
  padding: 0 10px;
  font-size: 11px;
  font-weight: 700;
  color: #fff;
}
.calc_center a {
  padding: 0 15px;
}
.calc_center_padding {
  padding-bottom: 15px;
}
.calc_right {
  position: relative;
  right: 20px;
  top: -7px;
}
.cats_right {
  margin-top: 90px;
  margin-bottom: 60px;
  padding: 15px 15px 30px 15px;
  background: #fff;
  position: relative;
}
.collapse_arrow {
  margin-left: 8px;
}
.del_pad_cats {
  padding: 0 !important;
}
.cats_right p.text_blue {
  line-height: 16px;
}
.cats_right img {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.submit_podbor {
  border: 1px solid #18a0fb;
  font-size: 13px;
  background: #18a0fb;
  font-weight: 500;
  padding: 0 28px;
  line-height: 16px;
  text-align: center;
  border-radius: 6px;
  color: #fff;
  display: table;
  height: 30px;
  line-height: 30px;
}
.p0 {
  padding: 0 !important;
}
#item {
  padding-top: 40px;
  padding-left: 20px;
}
.item {
  padding-bottom: 20px;
}
.calc_gor {
  background: #0080c8;
  border-radius: 5px;
  font-weight: 700;
  padding: 20px 0 1px 0;
}
.calc_gor .submit_podbor {
  display: inline-block !important;
  position: relative;
  left: 30px;
}
.calc_gor_item {
  margin-bottom: 5px;
}
.calc_gor_item label {
  font-size: 11px;
  color: #fff;
  padding-left: 10px;
  margin-right: 30px;
  width: 125px;
}
.calc_gor_item a {
  display: inline-block;
  margin-left: 15px;
}
.item_text_center {
}
.item_text_center p {
  padding-top: 5px;
}
.item_text_bottom {
}
.item_text_bottom p.fz13px {
  padding-bottom: 15px;
}
.red {
  color: #be1622;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
}
.item_text_bottom .red {
  margin-top: 40px;
}
.item_text_bottom_row {
  margin-top: 40px;
  padding-bottom: 60px;
}
.p_500 {
  font-weight: 500;
}
.slider_sale {
  background: #ffffff;
  border-radius: 5px;
  padding: 8px 0 30px;
  min-width: 0 !important;
}
.second-swiper .swiper-button-prev::after {
  content: "";
  width: 12px;
  height: 17px;
  background-repeat: no-repeat;
  background: url(../images/slider-sale-left.svg);
  position: relative;
  top: -35px;
  left: -10px;
}

.second-swiper .swiper-button-next::after {
  content: "";
  width: 12px;
  height: 17px;
  background-repeat: no-repeat;
  background: url(../images/slider-sale-left.svg);
  transform: rotate(-180deg);
  position: relative;
  top: -35px;
  right: -10px;
}
.flex-container {
  display: flex;
}
.flex-container .swiper-dop {
  flex-grow: 1;
  flex-basis: 0;
}
.h2_sale_slider {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #0080c8;
}
.sliders_img {
  display: table;
  margin: -1px auto 20px;
  max-width: 100%;
}
.desc_sale_slider {
  width: 75%;
  display: table;
  margin: 0 auto;
  text-align: center;
  line-height: 15px;
}
.table {
  margin-bottom: 0;
  position: relative;
  right: 143px;
}
.table_param {
  /* width: 140px; */
}
/* new
в данном фрагменте написаны новые стили, которые изменяют видимость
у слайдеров
изменяют отображение бокового меню
стили для карточки товара одной
стили для секции футер одной карточки
стили для счетчика и кнопок
стили для кнопок слайдера
изменены некоторые искходные стили, они закомментированы в коде
*/
.small-devices-slider {
  display: none;
}
.normal-devices-slider {
  display: block;
}
.side-menu {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 18px;
}
/* new */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons-section {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.increment {
  width: 15px;
  height: 15px;
  background: url("../images/accord_arrow2.svg") center no-repeat;
  background-size: 15px 15px;
  margin-bottom: 2px;
  transform: rotate(-90deg);
  outline: none;
}
.decrement {
  outline: none;
  transform: rotate(90deg);
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
  background: url("../images/accord_arrow2.svg") center no-repeat;
}
.increment:focus,
.decrement:focus,
.add-button:focus {
  outline: none;
}
.footer-input {
  width: 50px;
  text-align: center;
  color: #0080c8;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.footer-button {
  outline: none;
  border: none;
  background-color: transparent;
  color: #0080c8;
}
.footer-input:focus {
  outline: none;
}

.first-swiper-next,
.first-swiper-prev {
  height: 30px;
  width: 30px;
  background: transparent;
  border: none;
}
.footer-input,
.add-button {
  background: white;
  border: 2px solid #0080c8;
  padding: 8px 12px;
  border-radius: 10px;
}
.footer-input-section {
  display: flex;
  align-items: center;
}
.items-row {
  padding: 0 50px;
}
.swiper-section {
  position: relative;
}
.first-swiper {
  padding: 0 25px;
}
.first-swiper .swiper-button-prev::after {
  content: "";
}
.first-swiper .swiper-button-next::after {
  content: "";
}
.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
}
.first-swiper-next {
  padding-right: 0;
}
.first-swiper-prev {
  padding-left: 0;
}
.first-swiper-next {
  position: absolute;
  top: 150px;
  right: -5px;
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
  width: 30px;
  height: 30px;
  background: url("../images/accord_arrow.svg") center no-repeat;
  background-size: 30px 30px;
}
.first-swiper-prev {
  position: absolute;
  top: 150px;
  left: -5px;
  transition: all 0.2s ease-in-out;
  width: 30px;
  height: 30px;
  background: url("../images/accord_arrow.svg") center no-repeat;
  background-size: 30px 30px;
}
.first-swiper-next:hover {
  transform: rotate(360deg);
  width: 30px;
  height: 30px;
  background: url("../images/accord_arrow2.svg") center no-repeat;
  background-size: 30px 30px;
}
.first-swiper-prev:hover {
  transform: rotate(-180deg);
  width: 30px;
  height: 30px;
  background: url("../images/accord_arrow2.svg") center no-repeat;
  background-size: 30px 30px;
}
.large-devices-slider {
  display: none;
}
/* new end */
.table_param p {
  text-align: left !important;
  font-weight: 700 !important;
}
.table_row {
  margin: 30px 0 30px 0;
}
.table_row th {
  width: 110px;
}
.table_name {
  /* width: 110px;
  height: 110px; */
  text-align: center;
  position: relative;
  padding-bottom: 10px;
}
.salnik {
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
}
.tr_img {
  margin-top: 10px;
  padding-top: 10px;
}
.table_name span {
  display: block;
  padding-top: 10px;
}
.table_img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 110px; */
  height: 110px;
  background: #fff;
  /* border-right: 10px solid #f3f8f9; */
  position: relative;
  margin-top: 10px;
}
.table_img img {
  display: table;
  margin: 0 auto;
    height: 100%;
}
.text_blue_td {
  padding-top: 10px;
  font-weight: 500;
  color: #0080c8;
  text-align: center;
  height: 50px;
  margin-bottom: 5px;
  /*padding: 5px 0 10px;*/
}

.table td,
.table th {
  border-top: none !important;
  vertical-align: middle;
}
.hit {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 5px;
  left: 5px;
}
.akcia {
  position: absolute;
  top: -10px;
  right: 10px;
}

.accord_item .cats_item {
  margin-top: 4px;
  background-color: white;
  padding: 15px 15px 15px 15px;
  display: none;
}

.accord_item .cats_item img {
  transform: rotate(90deg);
  margin-left: 8px;
}

@media (width > 720px) {
  .accord_item.active .accord_p {
    position: relative;
  }
  .first-swiper-next,
  .first-swiper-prev {
    top: 140px;
  }
  .side-menu {
    padding-bottom: 60px;
    padding-left: 120px;
  }

  .accord_item.active .accord_p span {
    background: color(srgb 0.9532 0.9732 0.9773);
    padding-right: 8px;
  }

  .accord_item.active .accord_p img {
    float: right;
  }

  .accord_item.active .accord_p::before {
    content: "";
    height: 2px;
    width: calc(100% - 16px);
    margin-right: 3px;
    background-color: #0080c8;
    display: block;
    bottom: 9px;
    right: 6px;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition-duration: 800ms;
  }

  .accord_item.active .accord_p::before {
    opacity: 1;
  }

  .accord_item.active .accord_p img {
    animation-name: img-opacity;
    animation-duration: 800ms;
  }

  @keyframes img-opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@media (min-width: 1000px) {
  /* в данном фрагменте стили для секции на десктопе
    изменяем отсутпы у секции
    изменяем стили
    изменяем размер шрифтов и отступы этих элементов
    изменяем свойство видимости для слайдеров
    */
  .first-swiper-next,
  .first-swiper-prev {
    top: 170px;
  }
  .table_row {
    margin: 30px 0 30px -300px;
  }
  .table_name {
    padding-bottom: 40px;
  }
  .items-row {
    padding: 0 30px;
  }
  .side-menu {
    padding-left: 90px;
    padding-bottom: 50px;
    padding-right: 0;
  }
  .add-button {
    font-size: 12px;
    padding: 4px 6px;
  }
  .footer-input {
    font-size: 12px;
    padding: 3px;
    width: 30px;
  }
  .large-devices-slider {
    padding-left: 0;
    display: block;
  }
  .normal-devices-slider {
    display: none;
  }
  .small-devices-slider {
    display: none;
  }
  /*  */
}

@media (min-width: 300px) and (max-width: 720px) {
  .page {
    transform: none !important;
  }
}

.fa-square-o {
  font-size: 11px !important;
  position: relative !important;
  top: -1.3px !important;
}
@media (max-width: 720px) {
  /*  В данном блоке изменены отступы и изменены свойство для отображения
     у слайдеров
    */
  .side-menu {
    padding-bottom: 120px;
    padding-right: 0;
  }
  .first-swiper {
    padding: 0 22px;
  }
  .first-swiper-next,
  .first-swiper-prev {
    top: 160px;
  }
  .swiper-section {
    padding-left: 0;
    padding-right: 30px;
  }
  .items-row {
    padding: 0 20px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer-input-section {
    margin-bottom: 5px;
  }
  .buttons-section {
    margin-left: 8px;
  }
  .col {
    padding: 0 4px;
  }
  .table_img {
    margin-top: 35px;
  }
  .normal-devices-slider {
    display: none;
  }
  .small-devices-slider {
    display: block;
    padding: 0;
  }
  /*  */
  /*.cats_right {*/
  /*  display: none;*/
  /*}*/
  .page {
    min-width: unset;
    width: 400px;
    /*transform: none !important;*/
  }
  .navbar-mob {
    width: 310px;
  }
  .navbar-mob-menu a {
    font-size: 13px;
  }
  .cart_contact_box {
    padding: 0 10px 10px 10px;
  }
  .cart_content {
    max-width: 100%;
  }
  .cart_img_box {
    right: 0;
  }
  .cart_contact_box label {
    padding-bottom: 0;
    padding-left: 22px;
  }
  .cart_contact_box input {
    margin-bottom: 0;
  }
  .cart_forms {
    margin-right: 20px;
  }
  .cart .card-body {
    padding: 0 10px 10px;
  }
  .cart_price {
    padding-top: 13px;
  }
  .cart .card .card-body > .justify-content-between {
    justify-content: end !important;
  }
  .closer_box {
    position: relative;
    top: 55px;
    left: -155px;
    height: 10px;
  }
  #cart .col-12 {
  }
  .cart_h1 {
    margin: 8px 0 0 20px;
    font-size: 24px;
    padding-bottom: 0px;
  }
  .submit {
    margin-left: 0;
  }
  .submit button {
    margin: 3px 6px;
    width: 46%;
  }
  .modal-body label {
    width: 100px;
  }
  .modal-dialog {
    margin: 240px auto 0;
    padding: 0 5px;
    max-width: 395px !important;
  }
  .modal-title {
    top: 3px;
    left: 35px;
  }
  #order_call {
    right: -40px;
  }
  .logo {
    right: -5px;
    width: 115px;
    bottom: 1px;
  }
  .container {
    padding: 0 10px;
  }
  .top_menu_link {
    font-size: 9px;
    padding: 0 18px 10px;
    color: #3c5063;
  }
  .top_menu {
    padding-top: 5px;
  }
  .cart_mob {
    display: block;
    margin-left: 30px;
    margin-bottom: 3px;
    width: 100px;
    font-size: 11px;
  }
  .carts .p_order {
    font-size: 9px;
    font-weight: 400;
    color: #00457f;
  }
  .cart_button {
    border-radius: 6px;
    font-size: 11px;
    width: 100px;
    line-height: 18px;
    padding: 0;
    height: 20px;
    position: relative;
    top: 4px;
    z-index: 5;
  }
  .num_cart {
    z-index: 10;
  }
  .myord {
    position: relative;
    left: 9px;
    top: 6px;
    font-size: 10px;
    color: #0080c8;
    font-weight: 600;
  }
  .burger {
    display: block;
    margin-left: 30px;
    margin-top: 25px;
    position: relative;
    left: 5px;
  }
  .search,
  .callback,
  .lk_icon {
    display: none;
  }
  .top_menu .justify-content-center {
    align-items: center;
  }
  .menu_mob {
    width: 222px;
    display: table;
    margin-right: 20px;
    padding-top: 8px;
  }
  .main_menu .navbar {
    padding: 0;
  }
  .menu_bottom {
    padding: 0 40px 5px;
    margin-top: 5px;
  }
  .navbar {
  }
  .budni {
    right: -2px;
  }
  .budni_text {
    font-size: 11px;
    color: #081521;
  }
  .budni_text_icon i {
    font-size: auto;
    width: 6px;
  }
  .budni_text_icon {
    position: relative;
    top: -4px;
    left: 0;
  }
  .tel .p_tel a {
    font-size: 14px;
  }
  .tel .p_tel span {
    font-size: 11px;
  }
  .second-swiper .swiper {
    margin-top: 10px;
  }
  .menu_bottom .row {
    gap: 80px;
  }
  .menu_mob > div {
    padding: 2px 0;
  }
  .lk_icon_mob {
    text-align: right;
  }
  .lk_icon_mob a {
    padding: 0 6px;
    position: relative;
    right: 15px;
  }
  .lk_icon_mob img {
    width: 20px;
  }
  .callback_mob a {
    width: 100%;
    font-size: 11px;
    height: 20px;
    padding: 0;
    line-height: 19px;
  }
  .search_mob .input-group-text {
    background: #fff;
    height: 20px;
    border-left: none !important;
    border: 1px solid #aec4cd;
    border-radius: 0 6px 6px 0 !important;
    padding-right: 8px;
  }
  .search_mob .input-group-text i {
    color: #aec4cd !important;
    font-size: 12px;
  }
  .input-group-prepend {
    margin-right: none;
  }
  .search_mob .form-control {
    height: 20px;
    padding: 0 5px 0 10px;
    border: 1px solid #aec4cd;
    border-right: none !important;
  }
  .tel_mob {
    position: relative;
    top: 5px;
  }
  .tel_mob,
  .mail_mob {
    position: relative;
    left: 5px;
  }
  .tel .p_tel {
    margin-bottom: 3px;
  }
  .tel_mob {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 10px;
    margin-right: 15px;
  }
  .mail_mob {
    display: inline-block;
    width: 12px;
    height: 9px;
    margin-right: 20px;
  }
  .span_mail {
    display: none;
  }
  .spec_top_link {
    font-size: 9px;
    color: #fff;
    width: 80px;
    padding: 5px 0 !important;
    text-align: center;
    line-height: 11px;
    background: linear-gradient(180deg, #aec4cd 0%, #cfdde2 100%);
    font-weight: 700;
    border-radius: 6px;
    margin-left: 10px;
    height: auto;
    margin-top: 10px;
  }
  .num_cart {
    top: 3px;
    right: -40px;
    width: 39px;
    height: 39px;
    font-size: 15px;
    line-height: 20px;
  }
  .sal {
    margin-left: 15px !important;
  }
  .qr {
    display: none;
  }
  .main_h1 {
    font-size: 17px;
    line-height: 19px;
  }
  .index_h1 {
    height: 70px;
  }
  .second-swiper .swiper-pagination-bullet {
    margin-left: 20px !important;
  }
  .second-swiper .swiper-slide img {
    height: 480px;
    width: 100%;
    padding: 0px 20px;
    object-fit: contain;
  }
  .second-swiper .swiper-autoheight,
  .swiper-autoheight .swiper-slide {
    height: 480px;
  }
  .main_text {
    max-width: 100%;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .main_text_p {
    font-size: 11px;
    line-height: 14px;
  }
  .main_text_bottom .main_text_p {
    padding: 15px 25px 0 0;
  }
  footer .container {
    padding-top: 14px;
  }
  .footer_center {
    padding-top: 10px;
    max-width: 245px;
    margin: 0px 0px 0 25px;
  }
  .footer_left {
    right: 0;
    left: 30px;
  }
  .footer_left img {
    padding-right: 40px;
  }
  .footer_left_text i {
    left: 130px;
  }

  .footer_left p,
  .footer_right p,
  .footer_center p {
    font-size: 10px;
    line-height: 14px;
    padding-top: 9px;
  }
  .footer_center p span {
    padding-bottom: 15px;
  }
  .project {
    width: 90%;
    height: 480px;
    display: table;
    margin: 0 auto;
    background-position: bottom;
  }
  .project_h2 {
    font-size: 24px;
    color: #fff;
    padding: 25px 0 0 20px;
  }
  .project_text {
    padding: 0 40px 20px;
  }
  .project_item_text {
    height: auto;
    margin-bottom: 10px;
  }
  .project_item p {
    font-size: 13px !important;
  }
  .project_item_text_blue p {
    margin-top: 4px;
  }
  #project-slider {
    padding-top: 10px;
  }
  .project_item {
    margin-top: 20px;
    padding: 0 20px;
  }
  .project_item > img {
    display: table;
    margin: 0 auto;
    width: 100%;
  }
  .show_link {
    padding-top: 0;
  }
  #montazh {
    padding-top: 10px;
  }
  #montazh-text {
    padding-bottom: 40px;
  }
  .montazh {
    width: 90%;
    height: 480px;
    margin: 0 auto;
    background-position: center;
  }
  .montazh_h2 {
    font-size: 24px;
    color: #fff;
    padding: 25px 0 0 20px;
  }
  .montazh_item_text {
    padding: 0 20px;
  }
  .montazh_text {
    padding: 0 40px 20px;
  }
  .montazh_text p {
    font-size: 13px !important;
    line-height: 18px;
  }
  .montazh_item0 {
    position: static;
  }
  .montazh_photos {
    padding: 0 15px;
  }

  #service {
    padding: 10px 20px 40px;
  }
  #service p.fz15px {
    font-size: 13px !important;
  }
  .service_col_white {
    height: auto;
  }
  .service_col {
    margin-top: 30px;
  }
  .service_h2 {
    font-size: 24px;
    line-height: 30px;
    max-width: 335px;
    padding-bottom: 0;
  }
  .service_center .text_blue {
    padding-bottom: 20px;
  }
  #rent {
    padding: 28px 20px 200px;
  }
  .rent_h2 {
    font-size: 24px;
    line-height: 30px;
    max-width: 335px;
    padding-bottom: 15px;
    padding-left: 0;
  }
  .rent_item_center {
    border-left: none;
    padding-left: 0;
  }
  .rent_right p {
    padding-top: 10px;
    font-size: 11px;
    line-height: 18px;
  }
  .rent_item .pt30 {
    padding-top: 10px !important;
  }
  .rent_item_center ul li {
    font-size: 11px !important;
    line-height: 18px;
  }
  .rent_item .fz15px {
    font-size: 13px !important;
  }
  .transfer_rent {
    padding-top: 55px;
  }
  .p_rent_blue_bold {
    font-size: 13px !important;
    text-align: left !important;
  }
  .p_rent_blue {
    font-size: 13px;
  }
  .rent_item .rent_img {
    display: table;
    margin: 50px auto 0;
    width: 70%;
  }
  .div_rent_img {
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    height: 150px;
  }
  .cats_items {
    max-width: 234px;
    margin: 0 auto 10px;
  }
  .calc_center .form-inline {
    justify-content: center;
  }
  .calc {
    margin-top: 30px;
    padding: 10px 0px 15px 10px;
    /*height: 175px;*/
  }
  .calc_right {
    position: static;
    text-align: center;
  }
  .calc_right .submit_podbor {
    margin: 0 auto;
  }
  .calc_left {
    text-align: center;
    height: 35px;
  }
  .calc_left p {
    height: 35px;
  }
  .calc_left_p_bottom {
    position: relative;
    top: 30px;
  }

  .accord_item.active .cats_item {
    display: block;
  }

  .accord_item.active .accord_p img {
    transform: rotate(90deg);
  }
}


.order_call_valid{
    border-color: red;
}

@media (min-width: 721px) {
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}
/*
@media (min-width: 320px) and (max-width: 719px) {
		.page {
	    min-width: unset;
	    width: none;
	}
}*/

@media only screen and (min-width: 901px) and (max-width: 1024px) {
}
@media only screen and (min-width: 769px) and (max-width: 900px) {
}
/*@media only screen and (min-width:601px) and (max-width:768px) {

}*/
/*@media only screen and (min-width:390px) and (max-width:719px) {
    .page {
	    min-width: 390px;
	    width: 100%;
	     transform: none !important;
	}
}*/
@media only screen and (min-width: 481px) and (max-width: 600px) {
}
@media only screen and (min-width: 241px) and (max-width: 480px) {
}
@media only screen and (max-width: 240px) {
}
